<div class="panel-body">
    <div class="row">
        <div class="col-md-2">
            Filter By :
        </div>
        <div class="col-md-4">
            <input type="text" [(ngModel)] = 'listFilter'>
        </div>
    </div>
</div>

<div class="container">
<div class="col-10 offset-1">
    <div class="text-center">
        <form [formGroup]="todos">
            <input type="text" formControlName="title">
            <button (click)="postTodo(todos)">Create Todo</button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Completed:</th>
                    <th>Title:</th>
                    <th>Date:</th>
                    <th>Delete Todo!</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let temp of filteredTodos'>
                    <td *ngIf="temp.completed; else notCompletedBlock"><input type="checkbox" (click)="updateTodo(temp.title, temp.id, temp.createdOn)" checked></td>
                    <ng-template #notCompletedBlock><td><input type="checkbox" (click)="completeTodo(temp)"></td></ng-template>
                    <td>{{temp.title}}</td>
                    <td>{{temp.createdOn}}</td>
                    <td><button (click)="deleteTodo(temp)">Delete This Todo!!</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
