.input-box {
    height: 30px;
    border-radius: 3px;
    color: black;
}
#delete-img {
    height: 20px;
    margin-left: 20px;
}

option {
    color: black;
}

.General {
    color: black;
}

.School {
    color: hotpink;
}

.Work {
    color: #02a823;
}

.Personal {
    color: #fc5a03;
}