<div class='panel panel-primary'>
    <div class="panel-heading">
        <div class="text-center" >
            <form [formGroup]="todos">
                <input class="input-box" type="text" [(ngModel)]="createName" [ngModelOptions]="{standalone: true}" placeholder="What needs to be done?">
                <select class="input-box" type="text" [(ngModel)]="createCategory" [ngModelOptions]="{standalone: true}">
                    <option value="General">General</option>
                    <option value="Personal">Personal</option>
                    <option value="School">School</option>
                    <option value="Work">Work</option>
                </select>
                <button type="button" class="btn btn-primary" (click)="postTodo(todos)">Create Todo</button>
            </form>  
            <br>
            <div class="row">
                    Filter By :
                    <input class="input-box" type="text" [(ngModel)] = 'listFilter' placeholder="Search your todos!">
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="col-10 offset-1">
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Completed:</th>
                    <th>Title:</th>
                    <th>Category:</th>
                    <th>Delete Todo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = 'let temp of filteredTodos'>
                    <td *ngIf="temp.completed; else notCompletedBlock"><input type="checkbox" (click)="updateTodo(temp.title, temp.id, temp.createdOn)" checked></td>
                    <ng-template #notCompletedBlock><td><input type="checkbox" (click)="completeTodo(temp)"></td></ng-template>
                    <td><a [routerLink]="['/todo', temp.id]" (click)="emitActiveTab('todoInfo')">{{temp.title | todoName}}</a></td>
                    <td>{{temp.title | todoCategory}}</td>
                    <td><input id="delete-img" type="image" src="../../assets/delete.png" (click)="deleteTodo(temp)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
