<div class='panel panel-primary'>
    <div class="panel-heading">
        <div class="text-center" >
            <h1>About Us</h1>
        </div>
    </div>
</div>
<br>
<br>
<div class="container col-10 offset-1">
    <div class="row">
        <div class="col-md-4">
         
            <h2>Eurus Wagner</h2>
            <p>German Major --> Farmer --> Horse Trainer --> Coder</p>
        </div>
        <div class="col-md-4">  
            <h2>James Godwin</h2>
            <p>Driven and inspired professional with a physics degree and a global mindset, a passion for telling
                stories and crafting effective data-driven performance from ML models.</p>
        </div>
        <div class="col-md-4">
            <h2>Sukanya Naik</h2>
            <p>An artist by nature. A coder by profession.</p>
        </div>
    </div>
</div>