<div class='panel panel-primary'>
    <div class="panel-heading">
        <div class="text-center" >
            <h1>About us...</h1>
        </div>
    </div>
</div>
    
<div class="col-10 offset-1 text-center">
    <h2>James Goodwin</h2>
    <p>Driven and inspired professional with a physics degree and a global mindset, a passion for telling stories and crafting effective data-driven performance from ML models.</p>
    <hr>
    <h2>Sukanya Naik</h2>
    <p>An artist by nature. A coder by profession.</p>
    <hr>
    <h2>Eurus Wagner</h2>
    <p>German Major --> Farmer --> Horse Trainer --> Coder</p>
</div>
