<div *ngIf="currentTodoSelected === false; else todoBlock">
    <div class="text-center">
        <h2>You currently do not have Todo slected. Click <a [routerLink]="['']" (click)="emitActiveTab('home')">here</a> and select a Todo from the list.</h2>
    </div>
</div>

<ng-template #todoBlock>    
    <div class="container">
        <div class="col-10 offset-1">
            <div class='panel panel-primary'>
                <div class="panel-heading">
                    <div class="text-center">
                        <h2>Update your Todo here!</h2>
                    </div>
                </div>
            </div>
        
            <div *ngIf="currentTodo !== undefined" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Id</th>
                        <th>Completed</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="doUpdate; else noUpdate">
                        <td>{{currentTodo.id}}</td>
                        <td *ngIf="currentTodo.completed; else notCompletedBlock">
                            <input type="checkbox" (click)="updateCompletedStatus(currentTodo.id, !currentTodo.completed, todoTitle.value, currentTodo.createdOn)" checked>
                            &nbsp; {{currentTodo.completed}} 
                        </td>
                        <ng-template #notCompletedBlock>
                            <td><input type="checkbox" (click)="completeTodo(currentTodo)">
                                &nbsp; {{currentTodo.completed}}
                            </td>
                        </ng-template>
                        <td><input class="input-box" type="text" #todoName [(ngModel)]="updateName"></td>
                        <td> <!-- <input class="input-box" type="text" #todoCategory [(ngModel)]="updateCategory"> -->
                            <select class="input-box" type="text" #todoCategory [(ngModel)]="createCategory">
                                <option value="General">General</option>
                                <option value="Personal">Personal</option>
                                <option value="School">School</option>
                                <option value="Work">Work</option>
                            </select>
                        </td>
                        <td>{{currentTodo.createdOn}}</td>
                        <td>
                            <button (click)="updateNameAndCategory(currentTodo.id, currentTodo.completed, todoName.value, todoCategory.value, currentTodo.createdOn)">Submit</button>
                        </td>
                    </tr>

                    <ng-template #noUpdate>
                        <tr>
                            <td>{{currentTodo.id}}</td>
                            <td>{{currentTodo.completed}}</td>
                            <ng-template #notCompletedBlock>
                                <td>
                                    <input type="checkbox" (click)="completeTodo(currentTodo)">
                                </td>
                            </ng-template>
                            <td>{{currentTodo.title | todoName}}</td>
                            <td>{{currentTodo.title | todoCategory}}</td>
                            <td>{{currentTodo.createdOn}}</td>
                            <td><button (click)="update()">Update</button></td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
